extends layout

block content
  h1 Welcome to the Online-World
     <div id="container1-1">
          <div id="panal">
            <p>An Online-World application gives you the top freelancing services. Here you can buy services which we called the products. You just need to add products in cart and and check out later
                <div id="img">
                    <a href="https://danielfuterman.com/4-effective-strategies-to-find-freelance-work/">    
                </div>
          </div>
     </div> 
